* {
    padding: 0;
    margin: 0;
    font-family: 'Fjalla One', sans-serif;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

mark {
    color: grey;
    background-color: transparent;
}

.header {
    position: fixed;
    top: 0;
    background-color: yellow;
    display: block;
    width: 100vw;
    height: 5vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header:hover {
    height: 10vh;
    line-height: 10vh;
}

.header-link {
    cursor: pointer;
    font-size: 20pt;
}

.header-link:hover {
    color: red;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}